{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" >
                <option value="">Select a stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock["symbol"] }}">{{ stock["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <input type="text"  class="form-control mx-auto w-auto" name="shares" placeholder="Shares">
        </div>
        <button type="submit" class="btn btn-danger">Sell</button>
    </form>
{% endblock %}

